@font-face {
	font-family: 'AtariClassicChunky';
	src: url('fontsets/AtariClassicChunky.eot?#iefix') format('fontsets/embedded-opentype'),  url('fontsets/AtariClassicChunky.woff') format('woff'), url('fontsets/AtariClassicChunky.ttf')  format('truetype'), url('fontsets/AtariClassicChunky.svg#AtariClassicChunky') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'AtariClassicChunky', sans-serif;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #0e0e11;
	color: #005d8e;
	text-align: center;
}
h1, h2, h3, dt {
	color: #7db6de;
}

h1 {
	font-size: 3rem;
	padding: 0 1rem;
}
h1 {
	font-size: 1.25rem;
	padding: 0 1rem;
}
h3 {
	font-size: 1.25rem;
	padding: 0 1rem;
}
p, li, dt, dd {
	font-size: 0.875rem;
	padding: 0 1rem;
	line-height: 1.33333;
}

li, dd {
	margin-bottom: 0.75rem;
}

dd span { color: #444; }


a { padding: 0.125rem 0.5rem; text-decoration: none; }
a:link { background-color: #005d8e; color: black; }
a:visited { background-color: #005d8e; color: black; }
a:hover { background-color: #7db6de; color: black; }
a:active { background-color: #005d8e; color: black; }



#fileSelector {
	display: none;
	margin: 0px auto;
}
section {
	margin: 0px auto;
}

section#background-info {
	text-align: left;
	width: 80%;
}

#commands {
	width: 80%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

#commands ul {
	list-style: none;
	padding-left: 0px;
}

#controls {
	display: flex; 
	flex-direction: column;
	gap: 0.5rem;
}

.control-row { 
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: center;
}

.control-row.flex-vertical h2,
.control-row.flex-vertical h3,
.control-row.flex-vertical p,
.control-row.flex-vertical select {
	margin: 0px auto;
}

.control-row.flex-vertical {
	flex-direction: column;
	gap: 0.25rem;
	margin: 1rem 0px;
}

.control-row.flex-vertical select {
	margin: 0px auto;
}

.control-row.optional-controls {
	display: none;
} 

.control-row.disabled-controls input {
	pointer-events: none;
} 



#canvas-container {
	margin: 32px auto;
	position: relative;
	width: 640px;
	height: 384px;
}

#canvas-container.fullscreen {
}

#canvas-container canvas, 
#canvas-overlay {
	width: 100%;
	height: 100%;
	image-rendering: pixelated;

}

#canvas-container canvas, 
#canvas-overlay,
#x-axis,
#y-axis {
	position: absolute;
}
#canvas-overlay {
	background-image: url('diagnostics/grid-overlay.png');
}
#x-axis {
	background-image: url('diagnostics/x-axis.png');
	top: -16px;
	left: 0px;
	width: 640px;
	height: 16px;
}
#y-axis {
	background-image: url('diagnostics/y-axis.png');
	top: 0px;
	left: -16px;
	width: 16px;
	height: 384px;
}
#canvas-container canvas {
	z-index: -1;
	top: 0;
	left: 0;
}
.diagnostic {
	display: none;
}


@media screen and (max-width: 640px) {
	h1 { font-size: 2rem; }
	h2 { font-size: 1rem; }
}
